extends  includes/layout.pug

block conteudo
    nav
    h2 Bem-vindo. Entre para ver conteúdo especiais.

    div(style="margin-top: 30px")
    a(class="butoes-logar", href="/login") Login
    a(class="butoes-logar", href="/registrar") Cadastrar-se