extends  includes/layout.pug

block conteudo
    div
        div
            if message
                div(class="alert {{messageClass}}", role="alert")
                    h2= message
            form(method="POST", action="/login")
                div(class="form-group")
                    label(for="exampleInputEmail1") Endereço Eletrônico
                    input(name="email", type="email", class="form-control", id="exampleInputEmail1", placeholder="Enter email")
                div(class="form-group")
                    label(for="exampleInputPassword1") Senha
                    input(name="password", type="password", class="form-control", id="exampleInputPassword1", placeholder="Password")
                button(type="submit") Logar

                req.users
                