extends  includes/layout.pug


block conteudo
    div
        div
            if message
                div(class="alert {{messageClass}}", role="alert")
                    h2= message
            form(method="POST", action="/login")
                div(class="form-group single-input")
                    label(for="exampleInputEmail1") 
                    input(name="email", required type="email", class="form-control input", id="exampleInputEmail1", placeholder="Seu email:")
                div(class="form-group single-input")
                    label(for="exampleInputPassword1") 
                    input(name="password", required type="password", class="form-control input", id="exampleInputPassword1", placeholder="Sua senha:")
                button(type="submit") Logar

                req.users
                