extends  includes/layout.pug

block conteudo
    div
        div
            if message
                div(class="alert {{messageClass}}", role="alert")
                h2= message
            form(method="POST", action="/registrar")
                div(class="form-group single-input")
                    label(for="firstNameInput")
                    input(name="firstName", type="text", class="form-control input", id="firstNameInput", placeholder="Nome:" )
                div(class="form-group single-input")
                    label(for="lastNameInput")
                    input(name="lastName", type="text", class="form-control input", id="lastNameInput", placeholder="Sobrenome: ")
                div(class="form-group single-input")
                    label(for="emailInput")
                    input(name="email", type="email", class="form-control input", id="emailInput", placeholder="Email: ")
                div(class="form-group single-input")
                    label(for="passwordInput") 
                    input(name="password", type="password", class="form-control input", id="passwordInput", placeholder="Senha: ")
                div(class="form-group single-input")
                    label(for="confirmPasswordInput") 
                    input(name="confirmPassword", type="password", class="form-control input", id="confirmPasswordInput", placeholder="Confirmar senha: ")
                button(type="submit") Cadastrar